<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    <div class="container">
        <form action="/print" method="POST">
            <input class="btn btn-add-user" type="submit" value="Регистрация" />
        </form>
    </div>
</body>
</html>